@media all {
	.wdesktop {
		display: block;
	}

	.w768 {
		display: none;
	}

	.w480 {
		display: none;
	}

	.w360 {
		display: none;
	}

	.w320 {
		display: none;
	}

	.mobile-aside {
		display: none;
	}

	footer {
		font-family: Verdana,Arial,Helvetica,sans-serif;
		font-size: 11px;
		color: #999;
		text-align: center;
		padding: 40px 0 15px 0;
	}

	footer div {
		display: inline-block;
		padding-left: 20px;
	}

	header img {
		width: 738px;
		height: 281px;
	}

	.main-nav, #navspace {
		display: block;
	}

	.navbar {
		display: none;
		margin-bottom: 20px;
		font-family: verdana,"Times New Roman",Times,serif;
	}

	.nav li a, .navbar-brand {
		text-transform: uppercase;
		color: #fff !important;
		font-weight: bold;
	}
}