@media screen and (max-width: 360px) {
	.wdesktop {
		display: none;
	}

	.w768 {
		display: none;
	}

	.w480 {
		display: none;
	}

	.w360 {
		display: block;
	}

	.w320 {
		display: none;
	}

	.main-nav, #navspace {
		display: none;
	}

	.navbar {
		display: block;
		margin-bottom: 20px;
	}

	#content {
		width: 89%;
	}

	#marqueespace {
		height: 10px;
	}

	#navspace {
		padding: 0 10px;
	}

	#describe {
		width: 100% !important;
	}

	#describe > div {
		width: 100% !important;
		height: auto !important;
	}

	section article p {
		float: right;
	}

	section article p:last-child {
		float: left;
	}

	section article img {
		width: 37%;
	}
}