@media screen and (max-width: 360px) {
	.main-nav, #navspace {
		display: none;
	}

	.navbar {
		display: block;
		margin-bottom: 20px;
	}

	#marqueespace {
		height: 10px;
	}

	#navspace {
		padding: 0 10px;
	}

	#describe {
		width: 100% !important;
	}

	#describe > div {
		width: 100% !important;
		height: auto !important;
	}

	section article p {
		float: right;
	}

	section article p:last-child {
		float: left;
	}
}