@media screen and (max-width: 447px) {

}

@media screen and (max-width: 480px) {
	.wdesktop {
		display: none;
	}

	.w768 {
		display: none;
	}

	.w480 {
		display: block;
	}

	.w360 {
		display: none;
	}

	.w320 {
		display: none;
	}

	.main-nav, #navspace {
		display: none;
	}

	.navbar {
		display: block;
		margin-bottom: 20px;
	}

	#marqueespace {
		width: 100%;
	}

	#maincontent {
		width: 100%;
	}

	#content {
		width: 100%;
		padding: 10px;
	}

	.header-wrapper {
		margin: 0 10px;
	}

	.mobile-aside {
		display: block;
		padding: 10px;
	}

	#marqueespace {
		height: 20px;
	}

	#content {
		border-radius: 5px;
		width: auto;
		margin: 0 10px;
	}

	aside {
		width: 95%;
		padding: 0;
	}

	aside img {
		padding: 0px;
		width: 100%;
		height: auto;
	}

	header {
		width: 100%;
		/*padding: 0;*/
		/*background-image: none;*/
		background-size: 100%;
		padding: 0;
	}

	.header-wrapper {
		padding: 7px 1px;
	}

	section {
		width: 100%;
	}

	section > img {
		width: 100%;
		height: auto;
		border-radius: 5px;
	}

	section article {
		width: 100%;
	}

	section article img {
		width: 39%;
		height: auto;
		margin: 0px 25px 0 0;
		float: left;
	}

	.content-wrapper {
		width: 50%;
		float: right;
	}

	section article p {
		width: 100%;
	}

	footer {
		width: 100%;
	}
}